.search {
    width: 100%;
    display: flex;
  }
  
  .searchTerm:focus{
    color: #ffffff;
  }
  
  .searchButton {
    border:transparent;
    background: transparent;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  
  
  .wrap{
    width: 24%;
  }
  @media (max-width: 576px) {
    .wrap{
      width: 55%;
    }
  }
    @media (max-width: 375px) {
      .wrap{
        width: 70%;
      }
  
    }

   /* Style carrusel */

  .carousel .item {
    margin: 10px;
  }
 

  .card-container {
    height: 400px;
  }
.carousel{
  height: 100%;}

